body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}

.blur_back{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.700);
}

.radio{
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
    height: 200px;
    width: 260px;
    position: absolute;
    top: 40vh;
    border-radius: 20px;
    
}
.display{
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 240px;
    background-color:rgb(0, 0, 0);
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 5px;

}
.inner_display{

    display: flex;
    flex-direction: column;
    height: 80px ;
    width: 100px;
    background-color: rgb(136, 178, 184);
    border-radius: 5px;
    position: relative;
    top: 5px;
    left: 5px;
}

.fm{
    height: 12px;
    width: 22px;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    position: relative;
    top: 5px;
    left: 5px;
    color: rgb(136, 178, 184);
    font-size: x-small;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 8px;
    padding-top: 1px;
}
.Hertz{
    display: flex;
    position: relative;
    bottom: -20px;
    left: 10px;
    font-family: sans-serif;
    font-size: xx-large;
}
.mhz{
    position: relative;
    top: 3px;
    left: 75px;
    font-family: sans-serif;
    font-size: xx-small;
    font-weight: bold;
}

.side_display{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
    color: rgb(167, 167, 167);
    font-family: sans-serif;
}

.now_playing{
    font-weight: bold;
    font-size: 11px;
}
.track_name{
    margin-top: 10px;
    font-weight: bold;
    font-size: medium;

}
.fm_name{
    margin-top: 4px;
    font-weight: bold;
    font-size: small;
}

.button_controller{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px ;
    width: 240px;
    position: relative;
    top: 20px;
    left: 10px;
}

.previous{
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(175, 175, 175);
    margin-right: 30px;

}
.pause_play{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 30px;
    background-color: rgb(175, 175, 175);
}

.next{
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(175, 175, 175);
    margin-left: 30px;
}
img{
    height: 30px;
    width: 30px;
}
